.icon{
    padding-left: 10%;
    width: 120px;
    height: 130px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.div-position{
    /* background-color: rgb(168, 154, 168); */
    width: 100%;
}